/* BEGIN EXTERNAL SOURCE */
img {
opacity: .8
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
sup {
font-size: 20px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
position: relative; height: 300px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
canvas {
height: 300px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
position: relative; height: 300px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
canvas {
height: 300px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
height: 250px; width: 100%;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
canvas {
min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
width: 100%
}
/* END EXTERNAL SOURCE */
